Kraken.SharePoint.Cloud/Service References/ExcelService/ExcelService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://schemas.microsoft.com/office/excel/server/webservices" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://schemas.microsoft.com/office/excel/server/webservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/office/excel/server/webservices">
      <s:element name="GetApiVersion">
        <s:complexType />
      </s:element>
      <s:element name="GetApiVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetApiVersionResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="tns:ArrayOfStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Status" nillable="true" type="tns:Status" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Status">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Severity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="NewWorkbook">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="uiCultureName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataCultureName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NewWorkbookResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NewWorkbookResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="tns:ArrayOfStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OpenWorkbookForEditing">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="workbookPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="uiCultureName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataCultureName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OpenWorkbookForEditingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OpenWorkbookForEditingResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="tns:ArrayOfStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OpenWorkbook">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="workbookPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="uiCultureName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataCultureName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OpenWorkbookResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OpenWorkbookResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="tns:ArrayOfStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CloseWorkbook">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CloseWorkbookResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="status" type="tns:ArrayOfStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Refresh">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="connectionName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RefreshResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="status" type="tns:ArrayOfStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveWorkbook">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveWorkbookResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="status" type="tns:ArrayOfStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveWorkbookCopy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="workbookPath" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="workbookType" type="tns:WorkbookType" />
            <s:element minOccurs="1" maxOccurs="1" name="saveOptions" type="tns:SaveOptions" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="WorkbookType">
        <s:restriction base="s:string">
          <s:enumeration value="FullWorkbook" />
          <s:enumeration value="FullSnapshot" />
          <s:enumeration value="PublishedItemsSnapshot" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="SaveOptions">
        <s:list>
          <s:simpleType>
            <s:restriction base="s:string">
              <s:enumeration value="None" />
              <s:enumeration value="AllowOverwrite" />
            </s:restriction>
          </s:simpleType>
        </s:list>
      </s:simpleType>
      <s:element name="SaveWorkbookCopyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="status" type="tns:ArrayOfStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Calculate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sheetName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rangeCoordinates" type="tns:RangeCoordinates" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RangeCoordinates">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Row" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Column" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Height" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Width" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CalculateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="status" type="tns:ArrayOfStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculateA1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sheetName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rangeName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculateA1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="status" type="tns:ArrayOfStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sheetName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rangeCoordinates" type="tns:RangeCoordinates" />
            <s:element minOccurs="1" maxOccurs="1" name="formatted" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRangeResult" type="tns:ArrayOfAnyType" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="tns:ArrayOfStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TypeExporter">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CellError" type="tns:CellError" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="CellError">
        <s:restriction base="s:string">
          <s:enumeration value="Div0" />
          <s:enumeration value="NA" />
          <s:enumeration value="Name" />
          <s:enumeration value="Null" />
          <s:enumeration value="Num" />
          <s:enumeration value="Ref" />
          <s:enumeration value="Value" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetRangeA1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sheetName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rangeName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="formatted" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRangeA1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRangeA1Result" type="tns:ArrayOfAnyType" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="tns:ArrayOfStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCell">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sheetName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="row" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="column" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="formatted" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCellResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCellResult" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="tns:ArrayOfStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCellA1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sheetName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rangeName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="formatted" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCellA1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCellA1Result" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="tns:ArrayOfStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPublishedItemNames">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WorkbookItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:ItemType" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ItemType">
        <s:restriction base="s:string">
          <s:enumeration value="Chart" />
          <s:enumeration value="PivotTable" />
          <s:enumeration value="Table" />
          <s:enumeration value="NamedRange" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfWorkbookItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WorkbookItem" nillable="true" type="tns:WorkbookItem" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetPublishedItemNamesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPublishedItemNamesResult" type="tns:ArrayOfWorkbookItem" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="tns:ArrayOfStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSheetNames">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SheetInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:SheetType" />
          <s:element minOccurs="1" maxOccurs="1" name="Visibility" type="tns:SheetVisibility" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="SheetType">
        <s:restriction base="s:string">
          <s:enumeration value="Worksheet" />
          <s:enumeration value="Chartsheet" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="SheetVisibility">
        <s:restriction base="s:string">
          <s:enumeration value="Visible" />
          <s:enumeration value="Hidden" />
          <s:enumeration value="VeryHidden" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfSheetInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SheetInfo" nillable="true" type="tns:SheetInfo" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSheetNamesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSheetNamesResult" type="tns:ArrayOfSheetInfo" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="tns:ArrayOfStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sheetName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rangeCoordinates" type="tns:RangeCoordinates" />
            <s:element minOccurs="0" maxOccurs="1" name="rangeValues" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="status" type="tns:ArrayOfStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetRangeA1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sheetName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rangeName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rangeValues" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetRangeA1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="status" type="tns:ArrayOfStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCell">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sheetName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="row" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="column" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="cellValue" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCellResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="status" type="tns:ArrayOfStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCellA1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sheetName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rangeName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cellValue" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCellA1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="status" type="tns:ArrayOfStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculateWorkbook">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="calculateType" type="tns:CalculateType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="CalculateType">
        <s:restriction base="s:string">
          <s:enumeration value="Recalculate" />
          <s:enumeration value="CalculateFull" />
        </s:restriction>
      </s:simpleType>
      <s:element name="CalculateWorkbookResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="status" type="tns:ArrayOfStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSessionInformation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSessionInformationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serverVersion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="uiCultureNameUsed" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataCultureNameUsed" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="tns:ArrayOfStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="status" type="tns:ArrayOfStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWorkbook">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="workbookType" type="tns:WorkbookType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWorkbookResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWorkbookResult" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="tns:ArrayOfStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetParameters">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parameters" type="tns:ArrayOfParameterInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfParameterInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ParameterInfo" nillable="true" type="tns:ParameterInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ParameterInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Values" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetParametersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="status" type="tns:ArrayOfStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCalculationOptions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="calcType" type="tns:WorkbookCalculation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="WorkbookCalculation">
        <s:restriction base="s:string">
          <s:enumeration value="Manual" />
          <s:enumeration value="Automatic" />
          <s:enumeration value="Semiautomatic" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SetCalculationOptionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="status" type="tns:ArrayOfStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChartImageUrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="size" type="tns:Size" />
            <s:element minOccurs="0" maxOccurs="1" name="chartName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Size">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Width" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Height" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetChartImageUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChartImageUrlResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="tns:ArrayOfStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetApiVersionSoapIn">
    <wsdl:part name="parameters" element="tns:GetApiVersion" />
  </wsdl:message>
  <wsdl:message name="GetApiVersionSoapOut">
    <wsdl:part name="parameters" element="tns:GetApiVersionResponse" />
  </wsdl:message>
  <wsdl:message name="NewWorkbookSoapIn">
    <wsdl:part name="parameters" element="tns:NewWorkbook" />
  </wsdl:message>
  <wsdl:message name="NewWorkbookSoapOut">
    <wsdl:part name="parameters" element="tns:NewWorkbookResponse" />
  </wsdl:message>
  <wsdl:message name="OpenWorkbookForEditingSoapIn">
    <wsdl:part name="parameters" element="tns:OpenWorkbookForEditing" />
  </wsdl:message>
  <wsdl:message name="OpenWorkbookForEditingSoapOut">
    <wsdl:part name="parameters" element="tns:OpenWorkbookForEditingResponse" />
  </wsdl:message>
  <wsdl:message name="OpenWorkbookSoapIn">
    <wsdl:part name="parameters" element="tns:OpenWorkbook" />
  </wsdl:message>
  <wsdl:message name="OpenWorkbookSoapOut">
    <wsdl:part name="parameters" element="tns:OpenWorkbookResponse" />
  </wsdl:message>
  <wsdl:message name="CloseWorkbookSoapIn">
    <wsdl:part name="parameters" element="tns:CloseWorkbook" />
  </wsdl:message>
  <wsdl:message name="CloseWorkbookSoapOut">
    <wsdl:part name="parameters" element="tns:CloseWorkbookResponse" />
  </wsdl:message>
  <wsdl:message name="RefreshSoapIn">
    <wsdl:part name="parameters" element="tns:Refresh" />
  </wsdl:message>
  <wsdl:message name="RefreshSoapOut">
    <wsdl:part name="parameters" element="tns:RefreshResponse" />
  </wsdl:message>
  <wsdl:message name="SaveWorkbookSoapIn">
    <wsdl:part name="parameters" element="tns:SaveWorkbook" />
  </wsdl:message>
  <wsdl:message name="SaveWorkbookSoapOut">
    <wsdl:part name="parameters" element="tns:SaveWorkbookResponse" />
  </wsdl:message>
  <wsdl:message name="SaveWorkbookCopySoapIn">
    <wsdl:part name="parameters" element="tns:SaveWorkbookCopy" />
  </wsdl:message>
  <wsdl:message name="SaveWorkbookCopySoapOut">
    <wsdl:part name="parameters" element="tns:SaveWorkbookCopyResponse" />
  </wsdl:message>
  <wsdl:message name="CalculateSoapIn">
    <wsdl:part name="parameters" element="tns:Calculate" />
  </wsdl:message>
  <wsdl:message name="CalculateSoapOut">
    <wsdl:part name="parameters" element="tns:CalculateResponse" />
  </wsdl:message>
  <wsdl:message name="CalculateA1SoapIn">
    <wsdl:part name="parameters" element="tns:CalculateA1" />
  </wsdl:message>
  <wsdl:message name="CalculateA1SoapOut">
    <wsdl:part name="parameters" element="tns:CalculateA1Response" />
  </wsdl:message>
  <wsdl:message name="GetRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetRange" />
  </wsdl:message>
  <wsdl:message name="GetRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetRangeResponse" />
  </wsdl:message>
  <wsdl:message name="GetRangeA1SoapIn">
    <wsdl:part name="parameters" element="tns:GetRangeA1" />
  </wsdl:message>
  <wsdl:message name="GetRangeA1SoapOut">
    <wsdl:part name="parameters" element="tns:GetRangeA1Response" />
  </wsdl:message>
  <wsdl:message name="GetCellSoapIn">
    <wsdl:part name="parameters" element="tns:GetCell" />
  </wsdl:message>
  <wsdl:message name="GetCellSoapOut">
    <wsdl:part name="parameters" element="tns:GetCellResponse" />
  </wsdl:message>
  <wsdl:message name="GetCellA1SoapIn">
    <wsdl:part name="parameters" element="tns:GetCellA1" />
  </wsdl:message>
  <wsdl:message name="GetCellA1SoapOut">
    <wsdl:part name="parameters" element="tns:GetCellA1Response" />
  </wsdl:message>
  <wsdl:message name="GetPublishedItemNamesSoapIn">
    <wsdl:part name="parameters" element="tns:GetPublishedItemNames" />
  </wsdl:message>
  <wsdl:message name="GetPublishedItemNamesSoapOut">
    <wsdl:part name="parameters" element="tns:GetPublishedItemNamesResponse" />
  </wsdl:message>
  <wsdl:message name="GetSheetNamesSoapIn">
    <wsdl:part name="parameters" element="tns:GetSheetNames" />
  </wsdl:message>
  <wsdl:message name="GetSheetNamesSoapOut">
    <wsdl:part name="parameters" element="tns:GetSheetNamesResponse" />
  </wsdl:message>
  <wsdl:message name="SetRangeSoapIn">
    <wsdl:part name="parameters" element="tns:SetRange" />
  </wsdl:message>
  <wsdl:message name="SetRangeSoapOut">
    <wsdl:part name="parameters" element="tns:SetRangeResponse" />
  </wsdl:message>
  <wsdl:message name="SetRangeA1SoapIn">
    <wsdl:part name="parameters" element="tns:SetRangeA1" />
  </wsdl:message>
  <wsdl:message name="SetRangeA1SoapOut">
    <wsdl:part name="parameters" element="tns:SetRangeA1Response" />
  </wsdl:message>
  <wsdl:message name="SetCellSoapIn">
    <wsdl:part name="parameters" element="tns:SetCell" />
  </wsdl:message>
  <wsdl:message name="SetCellSoapOut">
    <wsdl:part name="parameters" element="tns:SetCellResponse" />
  </wsdl:message>
  <wsdl:message name="SetCellA1SoapIn">
    <wsdl:part name="parameters" element="tns:SetCellA1" />
  </wsdl:message>
  <wsdl:message name="SetCellA1SoapOut">
    <wsdl:part name="parameters" element="tns:SetCellA1Response" />
  </wsdl:message>
  <wsdl:message name="CalculateWorkbookSoapIn">
    <wsdl:part name="parameters" element="tns:CalculateWorkbook" />
  </wsdl:message>
  <wsdl:message name="CalculateWorkbookSoapOut">
    <wsdl:part name="parameters" element="tns:CalculateWorkbookResponse" />
  </wsdl:message>
  <wsdl:message name="GetSessionInformationSoapIn">
    <wsdl:part name="parameters" element="tns:GetSessionInformation" />
  </wsdl:message>
  <wsdl:message name="GetSessionInformationSoapOut">
    <wsdl:part name="parameters" element="tns:GetSessionInformationResponse" />
  </wsdl:message>
  <wsdl:message name="CancelRequestSoapIn">
    <wsdl:part name="parameters" element="tns:CancelRequest" />
  </wsdl:message>
  <wsdl:message name="CancelRequestSoapOut">
    <wsdl:part name="parameters" element="tns:CancelRequestResponse" />
  </wsdl:message>
  <wsdl:message name="GetWorkbookSoapIn">
    <wsdl:part name="parameters" element="tns:GetWorkbook" />
  </wsdl:message>
  <wsdl:message name="GetWorkbookSoapOut">
    <wsdl:part name="parameters" element="tns:GetWorkbookResponse" />
  </wsdl:message>
  <wsdl:message name="SetParametersSoapIn">
    <wsdl:part name="parameters" element="tns:SetParameters" />
  </wsdl:message>
  <wsdl:message name="SetParametersSoapOut">
    <wsdl:part name="parameters" element="tns:SetParametersResponse" />
  </wsdl:message>
  <wsdl:message name="SetCalculationOptionsSoapIn">
    <wsdl:part name="parameters" element="tns:SetCalculationOptions" />
  </wsdl:message>
  <wsdl:message name="SetCalculationOptionsSoapOut">
    <wsdl:part name="parameters" element="tns:SetCalculationOptionsResponse" />
  </wsdl:message>
  <wsdl:message name="GetChartImageUrlSoapIn">
    <wsdl:part name="parameters" element="tns:GetChartImageUrl" />
  </wsdl:message>
  <wsdl:message name="GetChartImageUrlSoapOut">
    <wsdl:part name="parameters" element="tns:GetChartImageUrlResponse" />
  </wsdl:message>
  <wsdl:portType name="ExcelServiceSoap">
    <wsdl:operation name="GetApiVersion">
      <wsdl:input message="tns:GetApiVersionSoapIn" />
      <wsdl:output message="tns:GetApiVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NewWorkbook">
      <wsdl:input message="tns:NewWorkbookSoapIn" />
      <wsdl:output message="tns:NewWorkbookSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OpenWorkbookForEditing">
      <wsdl:input message="tns:OpenWorkbookForEditingSoapIn" />
      <wsdl:output message="tns:OpenWorkbookForEditingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OpenWorkbook">
      <wsdl:input message="tns:OpenWorkbookSoapIn" />
      <wsdl:output message="tns:OpenWorkbookSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CloseWorkbook">
      <wsdl:input message="tns:CloseWorkbookSoapIn" />
      <wsdl:output message="tns:CloseWorkbookSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Refresh">
      <wsdl:input message="tns:RefreshSoapIn" />
      <wsdl:output message="tns:RefreshSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveWorkbook">
      <wsdl:input message="tns:SaveWorkbookSoapIn" />
      <wsdl:output message="tns:SaveWorkbookSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveWorkbookCopy">
      <wsdl:input message="tns:SaveWorkbookCopySoapIn" />
      <wsdl:output message="tns:SaveWorkbookCopySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Calculate">
      <wsdl:input message="tns:CalculateSoapIn" />
      <wsdl:output message="tns:CalculateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CalculateA1">
      <wsdl:input message="tns:CalculateA1SoapIn" />
      <wsdl:output message="tns:CalculateA1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRange">
      <wsdl:input message="tns:GetRangeSoapIn" />
      <wsdl:output message="tns:GetRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRangeA1">
      <wsdl:input message="tns:GetRangeA1SoapIn" />
      <wsdl:output message="tns:GetRangeA1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCell">
      <wsdl:input message="tns:GetCellSoapIn" />
      <wsdl:output message="tns:GetCellSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCellA1">
      <wsdl:input message="tns:GetCellA1SoapIn" />
      <wsdl:output message="tns:GetCellA1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPublishedItemNames">
      <wsdl:input message="tns:GetPublishedItemNamesSoapIn" />
      <wsdl:output message="tns:GetPublishedItemNamesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSheetNames">
      <wsdl:input message="tns:GetSheetNamesSoapIn" />
      <wsdl:output message="tns:GetSheetNamesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetRange">
      <wsdl:input message="tns:SetRangeSoapIn" />
      <wsdl:output message="tns:SetRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetRangeA1">
      <wsdl:input message="tns:SetRangeA1SoapIn" />
      <wsdl:output message="tns:SetRangeA1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetCell">
      <wsdl:input message="tns:SetCellSoapIn" />
      <wsdl:output message="tns:SetCellSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetCellA1">
      <wsdl:input message="tns:SetCellA1SoapIn" />
      <wsdl:output message="tns:SetCellA1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CalculateWorkbook">
      <wsdl:input message="tns:CalculateWorkbookSoapIn" />
      <wsdl:output message="tns:CalculateWorkbookSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSessionInformation">
      <wsdl:input message="tns:GetSessionInformationSoapIn" />
      <wsdl:output message="tns:GetSessionInformationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelRequest">
      <wsdl:input message="tns:CancelRequestSoapIn" />
      <wsdl:output message="tns:CancelRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkbook">
      <wsdl:input message="tns:GetWorkbookSoapIn" />
      <wsdl:output message="tns:GetWorkbookSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetParameters">
      <wsdl:input message="tns:SetParametersSoapIn" />
      <wsdl:output message="tns:SetParametersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetCalculationOptions">
      <wsdl:input message="tns:SetCalculationOptionsSoapIn" />
      <wsdl:output message="tns:SetCalculationOptionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetChartImageUrl">
      <wsdl:input message="tns:GetChartImageUrlSoapIn" />
      <wsdl:output message="tns:GetChartImageUrlSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExcelServiceSoap" type="tns:ExcelServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetApiVersion">
      <soap:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/GetApiVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewWorkbook">
      <soap:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/NewWorkbook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpenWorkbookForEditing">
      <soap:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/OpenWorkbookForEditing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpenWorkbook">
      <soap:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/OpenWorkbook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseWorkbook">
      <soap:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/CloseWorkbook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Refresh">
      <soap:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/Refresh" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveWorkbook">
      <soap:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/SaveWorkbook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveWorkbookCopy">
      <soap:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/SaveWorkbookCopy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Calculate">
      <soap:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/Calculate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateA1">
      <soap:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/CalculateA1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRange">
      <soap:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/GetRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRangeA1">
      <soap:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/GetRangeA1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCell">
      <soap:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/GetCell" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCellA1">
      <soap:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/GetCellA1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPublishedItemNames">
      <soap:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/GetPublishedItemNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSheetNames">
      <soap:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/GetSheetNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetRange">
      <soap:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/SetRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetRangeA1">
      <soap:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/SetRangeA1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCell">
      <soap:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/SetCell" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCellA1">
      <soap:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/SetCellA1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateWorkbook">
      <soap:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/CalculateWorkbook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSessionInformation">
      <soap:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/GetSessionInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelRequest">
      <soap:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/CancelRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkbook">
      <soap:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/GetWorkbook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetParameters">
      <soap:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/SetParameters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCalculationOptions">
      <soap:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/SetCalculationOptions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChartImageUrl">
      <soap:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/GetChartImageUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ExcelServiceSoap12" type="tns:ExcelServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetApiVersion">
      <soap12:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/GetApiVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewWorkbook">
      <soap12:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/NewWorkbook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpenWorkbookForEditing">
      <soap12:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/OpenWorkbookForEditing" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpenWorkbook">
      <soap12:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/OpenWorkbook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseWorkbook">
      <soap12:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/CloseWorkbook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Refresh">
      <soap12:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/Refresh" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveWorkbook">
      <soap12:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/SaveWorkbook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveWorkbookCopy">
      <soap12:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/SaveWorkbookCopy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Calculate">
      <soap12:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/Calculate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateA1">
      <soap12:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/CalculateA1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRange">
      <soap12:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/GetRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRangeA1">
      <soap12:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/GetRangeA1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCell">
      <soap12:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/GetCell" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCellA1">
      <soap12:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/GetCellA1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPublishedItemNames">
      <soap12:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/GetPublishedItemNames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSheetNames">
      <soap12:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/GetSheetNames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetRange">
      <soap12:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/SetRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetRangeA1">
      <soap12:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/SetRangeA1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCell">
      <soap12:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/SetCell" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCellA1">
      <soap12:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/SetCellA1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateWorkbook">
      <soap12:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/CalculateWorkbook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSessionInformation">
      <soap12:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/GetSessionInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelRequest">
      <soap12:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/CancelRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkbook">
      <soap12:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/GetWorkbook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetParameters">
      <soap12:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/SetParameters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCalculationOptions">
      <soap12:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/SetCalculationOptions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChartImageUrl">
      <soap12:operation soapAction="http://schemas.microsoft.com/office/excel/server/webservices/GetChartImageUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExcelService">
    <wsdl:port name="ExcelServiceSoap" binding="tns:ExcelServiceSoap">
      <soap:address location="http://portal.red.lab.colossusconsulting.com/_vti_bin/ExcelService.asmx" />
    </wsdl:port>
    <wsdl:port name="ExcelServiceSoap12" binding="tns:ExcelServiceSoap12">
      <soap12:address location="http://portal.red.lab.colossusconsulting.com/_vti_bin/ExcelService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>